<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="net.jeebiz.boot.authz.rbac0.dao.IAuthzUserDao">
	
	<!-- 开启二级缓存 -->
	<cache-ref namespace="net.jeebiz.boot.authz.rbac0.dao.IAuthzRoleDao"/>
	
	<resultMap id="UserMap" type="AuthzUserModel">
		<result property="id" column="U_ID" />
		<result property="username" column="U_USERNAME" />
		<result property="password" column="U_PASSWORD" />
		<result property="salt" column="U_SALT" />
		<result property="secret" column="U_SECRET" />
		<result property="alias" column="U_ALIAS" />
		<result property="avatar" column="U_AVATAR" />
		<result property="phone" column="U_PHONE" />
		<result property="email" column="U_EMAIL" />
		<result property="remark" column="U_REMARK" />
		<result property="status" column="U_STATUS" />
		<result property="time24" column="U_TIME24" />
	</resultMap>
	
	<resultMap id="UserDetailMap" type="AuthzUserDetailModel">
		<result property="id" column="U_ID" />
		<result property="username" column="U_USERNAME" />
		<result property="password" column="U_PASSWORD" />
		<result property="salt" column="U_SALT" />
		<result property="secret" column="U_SECRET" />
		<result property="alias" column="U_ALIAS" />
		<result property="avatar" column="U_AVATAR" />
		<result property="phone" column="U_PHONE" />
		<result property="email" column="U_EMAIL" />
		<result property="remark" column="U_REMARK" />
		<result property="status" column="U_STATUS" />
		<result property="time24" column="U_TIME24" />
		<result property="roleId" column="R_ID" />
		<result property="roleName" column="R_NAME" />
		<result property="dId" column="D_ID" />
		<result property="age" column="D_AGE" />
		<result property="birthday" column="D_BIRTHDAY" />
		<result property="code" column="D_CODE" />
		<result property="gender" column="D_GENDER" />
		<result property="idcard" column="D_IDCARD" />
	</resultMap>
	
	<resultMap id="RoleMap" type="AuthzRoleModel">
		<result property="id" column="R_ID" />
		<result property="name" column="R_NAME" />
		<result property="intro" column="R_TYPE" />
		<result property="type" column="R_INTRO" />
		<result property="status" column="R_STATUS" />
		<result property="users" column="R_USERS" />
		<result property="time24" column="R_TIME24" />
	</resultMap>
	
	<insert id="insert" parameterType="AuthzUserDetailModel" flushCache="true">
		<selectKey keyProperty="id" order="BEFORE" resultType="String">  
	        SELECT sys_guid() FROM dual
	    </selectKey>
	    insert into SYS_AUTHZ_USER_LIST(U_ID,U_USERNAME,U_PASSWORD,U_AVATAR,U_PHONE,U_EMAIL,U_REMARK,U_STATUS)
		values(#{id},#{username},#{password},#{avatar,jdbcType=VARCHAR},#{phone,jdbcType=VARCHAR},#{email,jdbcType=VARCHAR},#{remark,jdbcType=VARCHAR},'1')
	</insert>
	
	<insert id="insertDetail" parameterType="AuthzUserDetailModel" flushCache="true">
		insert into SYS_AUTHZ_USER_DETAIL(U_ID, D_AGE, D_BIRTHDAY, D_CODE, D_GENDER, D_IDCARD, D_REMARK)
		values(#{id}, #{age,jdbcType=VARCHAR}, #{birthday,jdbcType=VARCHAR}, #{code,jdbcType=VARCHAR}, #{gender,jdbcType=VARCHAR}, #{idcard,jdbcType=VARCHAR}, #{remark,jdbcType=VARCHAR})
	</insert>
	
	<delete id="delete" parameterType="java.lang.String" flushCache="true">
		DELETE FROM SYS_AUTHZ_USER_LIST WHERE U_ID = #{id}
	</delete>
	
	<delete id="deleteDetail" parameterType="java.lang.String" flushCache="true">
		DELETE FROM SYS_AUTHZ_USER_DETAIL WHERE U_ID = #{id}
	</delete>
	
	<delete id="deleteRole" flushCache="true">
    	DELETE FROM SYS_AUTHZ_USER_ROLE_RELATION WHERE U_ID = #{id}
    </delete>
	
	<delete id="batchDelete" flushCache="true">
		DELETE FROM SYS_AUTHZ_USER_LIST WHERE U_USERNAME != 'admin' AND U_ID IN 
		<foreach collection="list" index="index" item="item" open="(" separator="," close=")">  
           #{item} 
        </foreach>
	</delete>
	
	<delete id="batchDeleteDetail" flushCache="true">
		DELETE FROM SYS_AUTHZ_USER_DETAIL WHERE U_ID IN 
		<foreach collection="list" index="index" item="item" open="(" separator="," close=")">  
           #{item} 
        </foreach>
	</delete>
	
	<delete id="batchDeleteRole" flushCache="true">
		DELETE FROM SYS_AUTHZ_USER_ROLE_RELATION WHERE U_ID IN 
		<foreach collection="list" index="index" item="item" open="(" separator="," close=")">  
           #{item} 
        </foreach>
	</delete>
	
	<update id="update" parameterType="AuthzUserDetailModel" flushCache="true">
		update SYS_AUTHZ_USER_LIST t
		<set>
			<if test="alias != null and alias != ''">t.U_ALIAS = #{alias},</if>
			<if test="avatar != null and avatar != ''">t.U_AVATAR = #{avatar},</if>
			<if test="phone != null and phone != ''">t.U_PHONE = #{phone},</if>
			<if test="email != null and email != ''">t.U_EMAIL = #{email},</if>
			<if test="remark != null and remark != ''">t.U_REMARK = #{remark}</if>
		</set>
		where t.U_ID = #{id}
	</update>
	
	<update id="updateDetail" parameterType="AuthzUserDetailModel" flushCache="true">
		update SYS_AUTHZ_USER_DETAIL t
		<set>
			<if test="gender != null and gender != ''">t.D_GENDER = #{gender},</if>
			<if test="birthday != null and birthday != ''">t.D_BIRTHDAY = #{birthday},</if>
			<if test="idcard != null and idcard != ''">t.D_IDCARD = #{idcard},</if>
		</set>
		where t.U_ID = #{id}
	</update>
	
	<update id="updateRole" parameterType="AuthzUserDetailModel" flushCache="true">
    	update SYS_AUTHZ_USER_ROLE_RELATION set R_ID = #{roleId} WHERE U_ID = #{id}
    </update>
	
	<update id="updatePwd" parameterType="java.lang.String" flushCache="true">
		update SYS_AUTHZ_USER_LIST t 
		   set t.U_PASSWORD = #{password}
		where t.U_ID = #{userId}
	</update>
	
	<update id="resetPwd" parameterType="java.lang.String" flushCache="true">
		update SYS_AUTHZ_USER_LIST t 
		   set t.U_PASSWORD = #{password}
		where t.U_ID = #{userId} and t.U_PASSWORD = #{oldPassword}
	</update>
	
	<update id="setStatus" parameterType="java.lang.String" flushCache="true">
		UPDATE SYS_AUTHZ_USER_LIST t
		   SET t.U_STATUS = #{status}
		 WHERE t.U_ID = #{userId}
	</update>
	
	<select id="getCountByName" resultType="int" parameterType="java.lang.String" useCache="true">
		SELECT count(t.U_ID) FROM SYS_AUTHZ_USER_LIST t WHERE t.U_USERNAME like '%'|| #{username} ||'%'
	</select>
	
	<select id="getModel" resultMap="UserDetailMap" parameterType="java.lang.String" useCache="true">
		SELECT
			t.U_ID,
			t.U_USERNAME,
			t.U_ALIAS,
			'******' AS U_PASSWORD,
			'******' AS U_SALT,
			'******' AS U_SECRET,
			t.U_AVATAR,
			t.U_PHONE,
			t.U_EMAIL,
			t.U_REMARK,
			t.U_STATUS,
			t.U_TIME24,
			x.D_ID,
			x.D_AGE,
			x.D_BIRTHDAY,
			x.D_CODE,
			x.D_GENDER,
			x.D_IDCARD,
			(SELECT wm_concat(y.R_ID) R_ID
				 FROM SYS_AUTHZ_USER_ROLE_RELATION y 
				WHERE y.U_ID = t.U_ID
			 ) R_ID,
			(SELECT wm_concat(z.R_NAME) R_NAME
				 FROM SYS_AUTHZ_USER_ROLE_RELATION y INNER JOIN SYS_AUTHZ_ROLE_LIST z ON y.R_ID = z.R_ID 
				WHERE y.U_ID = t.U_ID
			 ) R_NAME
		FROM SYS_AUTHZ_USER_LIST t
		INNER JOIN SYS_AUTHZ_USER_DETAIL x ON t.U_ID = x.U_ID
		LEFT JOIN SYS_AUTHZ_USER_ROLE_RELATION y ON y.U_ID = t.U_ID
	   WHERE t.U_ID = #{id}
	</select>
	
	<select id="getPagedList" resultMap="UserDetailMap" parameterType="AuthzUserDetailModel" useCache="false">
		SELECT
			t.U_ID,
			t.U_USERNAME,
			t.U_ALIAS,
			'******' AS U_PASSWORD,
			t.U_AVATAR,
			t.U_PHONE,
			t.U_EMAIL,
			t.U_REMARK,
			t.U_STATUS,
			t.U_TIME24,
			x.D_ID,
			x.D_AGE,
			x.D_BIRTHDAY,
			x.D_CODE,
			x.D_GENDER,
			x.D_IDCARD,
			(SELECT wm_concat(y.R_ID) R_ID
				 FROM SYS_AUTHZ_USER_ROLE_RELATION y 
				WHERE y.U_ID = t.U_ID
			 ) R_ID,
			(SELECT wm_concat(z.R_NAME) R_NAME
				 FROM SYS_AUTHZ_USER_ROLE_RELATION y INNER JOIN SYS_AUTHZ_ROLE_LIST z ON y.R_ID = z.R_ID 
				WHERE y.U_ID = t.U_ID
			 ) R_NAME
		FROM SYS_AUTHZ_USER_LIST t
		INNER JOIN SYS_AUTHZ_USER_DETAIL x ON t.U_ID = x.U_ID
		LEFT JOIN SYS_AUTHZ_USER_ROLE_RELATION y ON y.U_ID = t.U_ID
	   WHERE t.U_USERNAME != 'admin'
		<if test="model.status != null and model.status != ''">
			and t.U_STATUS = #{model.status}
		</if>
		<if test="model.username != null and model.username != ''">
			and t.U_USERNAME like '%'|| #{model.username} ||'%'
		</if>
		<if test="model.roleId != null and model.roleId != ''">
			and exists (     
		         SELECT y.U_ID
		         FROM SYS_AUTHZ_USER_ROLE_RELATION y 
		        WHERE y.U_ID = t.U_ID
		          AND y.R_ID = #{model.roleId}
		    )
		</if>
		<if test="model.gender != null and model.gender != ''">
			and x.D_GENDER = #{model.gender}
		</if>
		<if test="model.idcard != null and model.idcard != ''">
			and x.D_IDCARD like '%'|| #{model.idcard}||'%'
		</if>
	</select>
	
	<select id="getPagedAllocatedList" resultMap="RoleMap" parameterType="AuthzUserModel" useCache="false">
		SELECT
			t.R_ID,
			t.R_NAME,
			t.R_TYPE,
			t.R_INTRO,
			t.R_STATUS,
			(SELECT COUNT(x.R_ID) FROM SYS_AUTHZ_USER_ROLE_RELATION x WHERE x.R_ID = t.R_ID) as R_USERS,
			t.R_TIME24
		FROM SYS_AUTHZ_ROLE_LIST t INNER JOIN SYS_AUTHZ_USER_ROLE_RELATION x ON t.R_ID = x.R_ID
		WHERE x.U_ID = #{id}
		<if test="model.status != null and model.status != ''">
			and t.R_STATUS = #{model.status}
		</if>
		<if test="model.type != null and model.type != ''">
			and t.R_TYPE = #{model.type}
		</if>
		<if test="model.name != null and model.name != ''">
			and t.R_NAME like '%'|| #{model.name} ||'%'
		</if>
	</select>
	
	<select id="getPagedUnAllocatedList" resultMap="RoleMap" parameterType="AuthzUserModel" useCache="false">
		SELECT
			t.R_ID,
			t.R_NAME,
			t.R_TYPE,
			t.R_INTRO,
			t.R_STATUS,
			(SELECT COUNT(x.R_ID) FROM SYS_AUTHZ_USER_ROLE_RELATION x WHERE x.R_ID = t.R_ID) as R_USERS,
			t.R_TIME24
		FROM SYS_AUTHZ_ROLE_LIST t
		WHERE NOT EXISTS ( SELECT '1' FROM SYS_AUTHZ_USER_ROLE_RELATION z WHERE t.R_ID = z.R_ID and z.U_ID = #{id})
		<if test="model.status != null and model.status != ''">
			and t.R_STATUS = #{model.status}
		</if>
		<if test="model.type != null and model.type != ''">
			and t.R_TYPE = #{model.type}
		</if>
		<if test="model.name != null and model.name != ''">
			and t.R_NAME like '%'|| #{model.name} ||'%'
		</if>
	</select>
	
	<select id="getRoles" resultType="java.lang.String" parameterType="java.lang.String" useCache="true">
		SELECT t.R_ID AS name 
		FROM SYS_AUTHZ_ROLE_LIST t INNER JOIN SYS_AUTHZ_USER_ROLE_RELATION x ON t.R_ID = x.R_ID 
		WHERE x.U_ID = #{userId}
		ORDER BY x.R_PRTY ASC
	</select>
	
	<select id="getPermissions" resultType="java.lang.String" parameterType="java.lang.String" useCache="true">
		SELECT DISTINCT y.PERMS
		FROM SYS_AUTHZ_ROLE_LIST t
		INNER JOIN SYS_AUTHZ_USER_ROLE_RELATION x ON t.R_ID = x.R_ID
		INNER JOIN SYS_AUTHZ_ROLE_PERMS y ON t.R_ID = y.R_ID
		WHERE x.U_ID = #{userId}
		ORDER BY x.R_PRTY ASC
	</select>
	
</mapper>