<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="net.jeebiz.boot.authz.feature.dao.IAuthzFeatureOptDao">

	<resultMap id="AuthzFeatureOptMap" type="AuthzFeatureOptModel">
		<result property="featureId" column="F_ID" />
		<result property="id" column="OPT_ID" />
		<result property="name" column="OPT_NAME" />
		<result property="icon" column="OPT_ICON" />
		<result property="order" column="OPT_ORDER" />
		<result property="visible" column="OPT_VISIBLE" />
		<result property="perms" column="OPT_PERMS" />
	</resultMap>
	
	<insert id="insert" parameterType="AuthzFeatureOptModel">
		<selectKey keyProperty="id" order="BEFORE" resultType="java.lang.String">  
	        SELECT IFNULL(MAX(OPT_ID), 0) + 1 FROM SYS_FEATURE_OPTS
	    </selectKey>
		insert into SYS_FEATURE_OPTS(OPT_ID,OPT_CODE,OPT_NAME,OPT_ICON)
		values(#{id},#{code},#{name},#{icon})
	</insert>
	
	<delete id="delete" parameterType="java.lang.String">
		DELETE FROM SYS_FEATURE_OPTS WHERE OPT_ID = #{id}
	</delete>
	
	<update id="update" parameterType="AuthzFeatureOptModel">
		update SYS_FEATURE_OPTS t
		<set>
			<if test="name != null and name != ''">t.OPT_NAME = #{name},</if>
			<if test="icon != null and icon != ''">t.OPT_ICON = #{icon},</if>
		</set>
		where t.OPT_ID = #{id}
	</update>
	
	<select id="getFeatureOpts" resultMap="AuthzFeatureOptMap" parameterType="java.lang.String">
		SELECT
			t.F_ID,
			t.OPT_ID,
			t.OPT_NAME,
			t.OPT_ICON,
			t.OPT_ORDER,
			t.OPT_VISIBLE,
			t.OPT_PERMS 
		FROM SYS_FEATURE_OPTS t
	</select>
	
	<select id="getFeatureOptList" resultMap="AuthzFeatureOptMap" parameterType="java.lang.String">
		SELECT
			t.F_ID,
			t.OPT_ID,
			t.OPT_NAME,
			t.OPT_ICON,
			t.OPT_ORDER,
			t.OPT_VISIBLE,
			t.OPT_PERMS 
		FROM SYS_FEATURE_OPTS t 
	   <where>
			<if test="featureId != null and featureId != ''">
				and t.F_ID = #{featureId}
			</if>
			<if test="visible != null and visible != ''">
				and t.OPT_VISIBLE = #{visible}
			</if>
		</where>
	</select>
    
</mapper>